.vagrant/
.buildpath
.project
.idea/
celery/*.pyc
celery/config.json
ssl/client/*.pem
ssl/client/*.p12
ssl/server/*.pem
ssl/server/*.p12
ssl/testca/*.pem
ssl/testca/*.cer
ssl/testca/serial*
ssl/testca/index*
ssl/testca/certs/*
ssl/testca/private/*
vendor/
berks_cookbooks/
